<?xml version="1.0" encoding="utf-8"?>
<!--
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <runtime>


    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="COBRANZA_CBEntities" connectionString="metadata=res://*/USER.cobranza.csdl|res://*/USER.cobranza.ssdl|res://*/USER.cobranza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-33BFVTN;initial catalog=COBRANZA_CB;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="INVENTARIO_CB_REALEntities" connectionString="metadata=res://*/INVENTARIO.casasbaratas.csdl|res://*/INVENTARIO.casasbaratas.ssdl|res://*/INVENTARIO.casasbaratas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=INVENTARIO_CONSTRUCTURA_OBELISCO;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="INVENTARIO_CONSTRUCTORA_OBELISCOEntities" connectionString="metadata=res://*/INVENTARIO.obelisco.csdl|res://*/INVENTARIO.obelisco.ssdl|res://*/INVENTARIO.obelisco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=INVENTARIO_CONSTRUCTORA_OBELISCO;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MyDataBesaUsuarioEntities" connectionString="metadata=res://*/USER.mydatabaseusuario.csdl|res://*/USER.mydatabaseusuario.ssdl|res://*/USER.mydatabaseusuario.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.10;initial catalog=MyDataBesaUsuario;user id=etech;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="INVENTARIO_CB_REALEntities" connectionString="metadata=res://*/INVENTARIO.casasbaratas.csdl|res://*/INVENTARIO.casasbaratas.ssdl|res://*/INVENTARIO.casasbaratas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.10;initial catalog=INVENTARIO_CB_REAL;user id=etech;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <!--<add name="COBRANZA_CBEntities" connectionString="metadata=res://*/USER.cobranza.csdl|res://*/USER.cobranza.ssdl|res://*/USER.cobranza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDOR;initial catalog=COBRANZA_CB;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="INVENTARIO_CB_REALEntities" connectionString="metadata=res://*/INVENTARIO.casasbaratas.csdl|res://*/INVENTARIO.casasbaratas.ssdl|res://*/INVENTARIO.casasbaratas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=INVENTARIO_CONSTRUCTURA_OBELISCO;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="INVENTARIO_CONSTRUCTORA_OBELISCOEntities" connectionString="metadata=res://*/INVENTARIO.obelisco.csdl|res://*/INVENTARIO.obelisco.ssdl|res://*/INVENTARIO.obelisco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDOR;initial catalog=INVENTARIO_CONSTRUCTORA_OBELISCO;user id=sa;password=Elimelec1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
     
</connectionStrings>
</configuration>
