@using (Ajax.BeginForm("EnviarCoreo", "Home", null, new AjaxOptions()
{
    HttpMethod = "POST",
    OnSuccess = "SuccessEdit",
    OnFailure = "FailEdit",
    OnBegin = "return Validation();"
}))
{
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo Email</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        @Html.TextBox("para", null, htmlAttributes: new { @class = "form-control", @placeholder = "To:" })
                        @*<input id="para" class="form-control" placeholder="To:" type="text" >*@
                    </div>
                    <div class="form-group">
                        @Html.TextBox("asunto", null, htmlAttributes: new { @class = "form-control", @placeholder = "Subject" })
                        @*<input id="asunto" class="form-control" placeholder="Subject:" type="text" >*@
                    </div>
                    <div class="form-group">
                        @Html.TextArea("mensaje", null, htmlAttributes: new { @class = "form-control", @sytle = "height: 200px" })
                        @*<textarea id="mensaje" class="form-control" style="height: 200px" >

            </textarea>*@
                    </div>
                    <div class="form-group" style="display:none">
                        @Html.TextBox("httpPostedFileBase", null, htmlAttributes: new { @class = "form-control",@type="file",@value="contenido", @sytle = "height: 200px" })
                        @*<textarea id="mensaje" class="form-control" style="height: 200px" >

            </textarea>*@
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Ennviar</button>
                    </div>
                    <button type="reset" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Descartar</button>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- /. box -->

        </div>
        <!-- /.modal-content -->
    </div>



}

<script>
    $(function () {
        //Enable iCheck plugin for checkboxes
        //iCheck for checkbox and radio inputs
        $('.mailbox-messages input[type="checkbox"]').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });

        //Enable check and uncheck all functionality
        $(".checkbox-toggle").click(function () {
            var clicks = $(this).data('clicks');
            if (clicks) {
                //Uncheck all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
            } else {
                //Check all checkboxes
                $(".mailbox-messages input[type='checkbox']").iCheck("check");
                $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
            }
            $(this).data("clicks", !clicks);
        });

        //Handle starring for glyphicon and font awesome
        $(".mailbox-star").click(function (e) {
            e.preventDefault();
            //detect type
            var $this = $(this).find("a > i");
            var glyph = $this.hasClass("glyphicon");
            var fa = $this.hasClass("fa");

            //Switch states
            if (glyph) {
                $this.toggleClass("glyphicon-star");
                $this.toggleClass("glyphicon-star-empty");
            }

            if (fa) {
                $this.toggleClass("fa-star");
                $this.toggleClass("fa-star-o");
            }
        });
    });

    function SuccessEdit(e) {
        if (e[0].Key == "OK") {
            success(e[0].Value);
            Listar();
            $('#editmodal').modal('hide');
        } else {
            error(e[0].Value);
        }
    }
    function FailEdit(e) {

    }
    function Validation() {
        return true;
    }

</script>
