
@{
    ViewBag.Title = "CoutaPagada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .dataTables_scrollBody thead {
        visibility: hidden;
    }

    .group {
        background-color: #333 !important;
        font-size: 11px;
        color: #fff !important;
        opacity: 0.7;
    }
</style>
<section class="content-header">
    <h1>
        Listado de Clientes sin Mora
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
@using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post))
{

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Cliente de Fase </h3>
                        <input type="hidden" id="fase" name="fase" value="" />
                        <input class="btn btn-primary   pull-right   margin-r-5" type="submit" value="Exportar excel" onclick="ExportToExcel();" />
                    </div>
                    <div class="box-body" id="ListaContenidosContainer">
                        <div id="gridDetalle" style="height: 450px;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script>
    //$(function () {
    //    $('#example1').DataTable();
    //})
  //  public string CodCliente { get; set; }
		//public string NombreCompleto { get; set; }
		//public double MontoCuota { get; set; }
		//public int NroCuota { get; set; }
		//public double SaldoCuota { get; set; }
		//public DateTime Fecha { get; set; }
		//public int CantidadCouta { get; set; }
		//public string Telefono { get; set; }
		//public string Codigo { get; set; }
		//public string CodMora { get; set; }
    var columnDefsDetalle = [
        { headerName: 'Couta fija', field: 'MontoCuota', aggFunc: 'sum' },
        { headerName: 'Interes Mora', field: 'SaldoCuota', aggFunc: 'sum' },
        { headerName: 'Total', field: 'total', valueGetter: 'data.MontoCuota + data.SaldoCuota', aggFunc: 'sum' },
        { headerName: 'Nro Cuota', field: 'NroCuota' },
        { headerName: 'Telefono', field: 'Telefono' },
        { headerName: 'Fecha Pago', field: 'Fecha'},

        { field: 'NombreCompleto', rowGroup: true, hide: true }
    ];

    var gridOptionsDetalle = {
        columnDefs: columnDefsDetalle,
        defaultColDef: {
            width: 150
        },
        enableRangeSelection: true,
        enableSorting: true,
        enableColResize: true,
        autoGroupColumnDef: {
            headerName: 'Cod Cliente',
            width: 300,
            field: 'CodCliente'
        },
        groupIncludeFooter: true,
        groupIncludeTotalFooter: true,
        animateRows: true

    };
    function currencyFormatter(params) {

        var dt = params.Fecha;
        if (typeof dt == 'undefined') {
            return '';
        } else {
            return toDateFromAspNet(dt);
        }

    }

    function toDateFromAspNet(dt) {
        var dte = eval("new " + dt.replace(/\//g, '') + ";");
        dte.setMinutes(dte.getMinutes() - dte.getTimezoneOffset());

        var today = new Date(dte);
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!

        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd;
        }
        if (mm < 10) {
            mm = '0' + mm;
        }
        var today = dd + '/' + mm + '/' + yyyy;
        return today;
    }
    $(document).ready(function () {
        ListarDetalle();
    });
    function ListarDetalle() {
        var gridDiv = document.querySelector('#gridDetalle');
        createGlobal(gridOptionsDetalle, gridDiv);
      
        $.ajax({
            url: "@Url.Action("DetalleCoutaPagada", "Home")",
            cache: false,
            data: {
            },
            type: "POST"
        }).done(function (html) {
            html.forEach(function (item) {
                item.Fecha = toDateFromAspNet(item.Fecha);
            });
            setDataSource(html, gridOptionsDetalle);
            // gridOptionsAsignadas.api.setRowData(html);
        }).fail(function (resp) {
            console.log(resp.responseText);
        }).always(function () {
            console.log(" se ha completado");
        });
    }


</script>

