
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<section class="content-header">
    <h1>
        Operaciones realizados
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Elements</li>
    </ol>
</section>
@using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post))
{
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Cliente de Fase @ViewBag.fase</h3>
                        <input type="hidden" id="fase" name="fase" value="@ViewBag.fase" />
                        <input class="btn btn-primary   pull-right   margin-r-5" type="submit" value="Exportar excel" onclick="ExportToExcel();" />
                    </div>
                    <div class="box-body" id="ListaContenidosContainer">
                        <div id="gridDetalle" style="height: 450px;" class="ag-theme-balham"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

